@charset "UTF-8";
@font-face {
  font-family: "Title";
  src: url("../assets/font/cyntho-next/CynthoNextMedium.otf");
}
@font-face {
  font-family: "Paragraph";
  src: url("../assets/font/Izmir/Demo_Fonts/Fontspring-DEMO-izmir-black.otf");
}
h1, h2, h3, h4, h5, h6  {
  font-family:"Title";
}

p, a {
  text-shadow: 1px 1px 1px rgb(87, 84, 84);
  font-weight: normal!important;
  font-family: "Paragraph";
}
.logo {
  width: 38vw;
}
.navbar {
  border-bottom: 3px solid #383f89;
}
.nav-item:hover {
  opacity: 0.7;
}
.btn-nav {
  font-weight: 500;
  background-color: #ffffff;
  color: #ff6f16;
  border: 3px solid;
  border-color: #ff6f16;
}
.btn-nav:hover {
  background-color: #ff6f16;
  color: #ffffff;
  border: 3px solid;
  border-color: #383f89;
}
.icons_nav {
  max-width: 45px;
}
.icon_p {
  font-weight: 700;
  font-size: 1.2rem;
  color: #182076;
  margin-left: 2px;
}
.icon_p_services {
  font-weight: 700;
  font-size: 1.2rem;
  color: #182076;
  margin-left: -6px;
}
.fluid-caroussel {
  width: 100%;
}

.carosel-content {
  position: absolute;
  width: 47%;
  top: 6%;
  left: 3%;
}
.btn-carosel {
  padding: 2px;
  font-size: 2vw;
  max-width: 38vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #ff6f16;
  border: 3px solid;
  border-radius: 22px;
  border-color: #ff6f16;
}
.btn-carosel:hover {
  background-color: #ff6f16;
  color: #ffffff;
  border: 3px solid;
  border-color: #fbfcfe;
}
.title-carousel {
  font-size: 4vw;
  color: #182076;
  font-weight: 900;
}
.paragraph-carousel {
  font-size: 3vw;
  font-weight: 400;
}
/* ====== cards header ====== */
.hide_cards {
  display: none;
}
.hide_desktop {
  /* width: 100%; */
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 63%;
  width: 100%;
}
.alt {
  margin: 0 0;
  position: absolute;
  top: 56%;
}
.btn_cards {
  min-height: 30px;
  width: 100%;
}
.cards-seguros {
  padding-top: 20px;
  padding-inline: 15px;
  opacity: 0.888;
}
.icons_carousel {
  max-width: 50px;
}
.icons_carousel_mobile {
  max-height: 34px;
}

.btn_card {
  color: #ffffff;
}
.btn_card:hover {
  opacity: 0.8;
}
.paragraph-card {
  text-align: justify;
  font-size: 0.8rem;
}
.price {
  font-weight: 800;
  font-size: 1.2rem;
}
.small_price {
  font-size: 0.7rem;
}
.bg_gradientBtoW {
  background: linear-gradient(to top, #ffffff, #00b0fc);
}
/* parte do porque escolher  a segurativa*/

.icons_choice {
  max-width: 90px;
}
.card_whyChoice_1 {
  background-color: #283f5d;
  max-width: 293px;
  margin: 2px;
  border-radius: 30px;
}
.card_whyChoice_1:hover {
  opacity: 0.888;
}
.card_whyChoice_1 h2 {
  color: #00b3ff;
}
.card_whyChoice_2 h2 {
  color: #81aacf;
}
.card_whyChoice_2:hover {
  opacity: 0.888;
}
.card_whyChoice_2 {
  background-color: #031877;
  max-width: 293px;
  margin: 2px;
  border-radius: 30px;
}
.btn_whyChoice {
  padding: 5px;
  font-size: 4vw;
  width: 84vw;
  font-weight: 500;
  background-color: #ffffff;
  color: #ff6f16;
  border: 3px solid;
  border-radius: 22px;
  border-color: #ff6f16;
}
.btn_whyChoice:hover {
  background-color: #ff6f16;
  color: #ffffff;
  border: 3px solid;
  border-color: #030303;
}
.btn_whyChoice img {
  width: 28px;
}
.pic_burocracy {
  width: 381px;
  height: 278px;
  background-image: url("../assets/cards/cardBureaucracy500x332Escuro.jpg");
  background-position: center;
  background-size: cover;
}
.pic_satisfaction {
  width: 381px;
  height: 278px;
  background-image: url("../assets/cards/cardSatisfation500x332Escuro.jpg");
  background-position: center;
  background-size: cover;
}
.pic_email {
  width: 381px;
  height: 278px;
  background-image: url("../assets/cards/cardEmail500x342Escuro.jpg");
  background-position: center;
  background-size: cover;
}
.cols_btn {
  position: relative;
  right: -61px;
  bottom: -30px;
  padding-inline: 12px;
  font-weight: 500;
  background-color: #ffffff;
  color: #ff6f16;
  border: 3px solid;
  border-radius: 22px;
  border-color: #ff6f16;
}
.cols_btn:hover {
  padding: 2px;
  font-weight: 500;
  background-color: #ff6f16;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 22px;
  border-color: #ffffff;
}
.orangeText {
  color: #ff6f16;
}
.url {
  color: #250050;
  font-weight: 900;
}
/* parte entre os gradientes no meio do site */
.gradiente_WtoB {
  background: linear-gradient(to top, #00b0fc, #ffffff);
}
.btn_services {
  width: 200px;
  height: 82px;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -3px 1px 5px black;
}
.btn_services:hover {
  opacity: 0.777;
}
.img_services {
  /* height: 50px; */
  width: 33%;
}
.img_wts {
  width: 32px;
}
.img_shild {
  width: 27.6%;
}
.services {
  border: none;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -3px 1px 5px black;
}
.services .img_services {
  width: 26%;
}
.services:hover {
  background-color: #00333e;
  color: #ffffff;
}
/* seção do compare ja */
.gradienteBtoP {
  background: linear-gradient(to top, #6922d7, #00b0fc);
}
.bg-head {
  background-color: #141c74;
}
.tableHead {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.last_table_head {
  border-top-right-radius: 10px;
}
.th_empty {
  min-width: 48vw;
}
.logoTable {
  max-width: 10vh;
}
.logoTable_content {
  max-width: 7vh;
}
.bg_table_1 {
  background-color: #e2f1ff;
}
.text_blue {
  color: #00b2fd;
}
.bg_purple {
  background-color: #6922d7;
}
.under {
  text-decoration: underline;
}
.btn_con {
  min-width: 200px;
  border: 2px solid white;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -3px 1px 5px black;
  color: #00b2fd;
  font-weight: bold;
}
.btn_con:hover {
  border: 2px solid black;
}
.position {
  position: relative;
  top: 20px;
}
/* seção acima do footer */
.img_content {
  height: 600px;
  width: 100%;
  background-image: url("../assets/img/houseBanner.jpg");
  background-position: 70% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.ttl {
  top: 20px;
}
.stars {
  position: relative;
  left: 104px;
  display: block;
  width: 20%;
  margin-top: -9px;
}
.btn_consor {
  letter-spacing: 5px;
  font-weight: 900;
  background-color: #ffffff;
  color: #ff6f16;
  border: 3px solid #ff6f16;
  border-radius: 6px;
  padding-inline: 20px;
  margin-top: 5px;
  margin-left: 60px;
}
.btn_consor:hover {
  background-color: #ff6f16;
  color: #ffffff;
  border-color: #ffffff;
}
.card_position {
  position: relative;
  top: -85px;
}
.card_consorcio {
  border: 1px solid #ff6f16;
  border-radius: 6px;
  background-color: #ffffff;
  width: 150px;
  margin-bottom: 2px; 
  padding: 10px;
  box-sizing: border-box;
}
.card_img {
  height: 50px;
}
.card_img:hover {
  opacity: .688;
}
.btn_consorcio {
  font-weight: 700;
  font-size: .7rem;
  background-color: #ffffff;
  border: 3px solid #ff6f16;
  border-radius: 6px;
  padding-inline: 5px;
}
.btn_consorcio:hover {
  background-color: #ff6f16;
  border: 3px solid #000000
}
.companies {
  height: 42px;
  margin: 5px;
}
.foo {
  min-height: 40vh;
  background-color: #250050;
}
.foo_logo {
  width: 100px;
}
.btn_formulary {
  border: none;
  font-weight: 700;
  border-radius: 13px;
  background-color: #ddf1ff;
  padding-inline: 6px;
}
.img_foo {
  position: relative;
  top: 15px;
  width: 35px;
  margin-left: -250px;
  /* margin-top: 10px; */
  /* margin-top: 10px; */
}
.img_foo_1 {
  position: relative;
  top: 15px;
  width: 35px;
  margin-left: -246px;
  /* margin-top: 10px; */
}
.foo_title {
  
  margin-bottom: 0;
  margin-left: 55px;
  font-weight: bolder;
  letter-spacing: 6px;
  margin-top: -31px;
  font-size: .8rem;
}
.foo_title_w {
  margin-bottom: 0;
  /* margin-left: -135px; */
  font-weight: bolder;
  letter-spacing: 6px;
  margin-top: -31px;
  font-size: .8rem;
}
.sub_btn_1 {
  margin-left: 50px;
}
.sub_btn {
margin-left: 40px;
}
.foo_info {
  margin-top: 65px;
}
.hide-mobile {
  display: none;
}

/* -====responsive area====--- */

@media screen and (min-width: 377px) {
  .img_foo {
    position: relative;
    top: 3px;
    width: 35px;
    margin-left: -282px;

}
  .img_foo_1 {
    position: relative;
    top: 15px;
    left: -14px;
    width: 35px;
    margin-left: -246px;
  
  }
}
@media screen and (min-width: 397px) {
  .img_foo {
    top: 3px;
    margin-left: -275px;

  }
}
@media screen and (min-width: 429px) {
  .img_foo_1 {
    left: -25px;
    top: 5px;
  }
}
@media screen and (min-width: 576px) {
  .btn-carosel {
    padding: 5px;
  }
  .logo {
    width: 30vw;
  }
  .btn_whyChoice {
    padding: 5px;
    font-size: 4vw;
    width: 71vw;
    font-weight: 500;
    background-color: #ffffff;
    color: #ff6f16;
    border: 3px solid;
    border-radius: 22px;
    border-color: #ff6f16;
  }
  .btn_whyChoice img {
    max-width: 25px;
  }
}
@media screen and (min-width: 768px) {
    /*botão depois do  menu  */
    .hide-mobile {
      display: none;
    }
  /* botão antes do menu */
  .hide {
    display: inline-block;
  }
  .btn_whyChoice {

    font-size: 2vw;
    width: 38vw;

  }
  /* .btn_whyChoice img {
    max-width: 30px;
  } */
  .logoTable {
    max-width: 12vh;
  }
  .stars {
    width: 10%;
  }
}

@media screen and (min-width: 863px) {
  /* .navheight {
    height: 87px;
  } */
  .logo {
    width: 15vw;
  }
  .btn_whyChoice img {
    max-width: 40px;
  }
  .stars {
    width: 7%;
    margin-left: 25px;
  }
}
@media screen and (min-width: 992px) {
  /*botão antes do  menu  */
  .hide {
    display: none;
  }
  /*botão depois do  menu  */
  .hide-mobile {
    display: inline-block;
  }
  .inventando_coisas {
    margin-left: 24px;
  }
  .inventando {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1075px) {
  .hide_cards {
    display: block;
  }
  .hide_desktop {
    display: none;
  }
  .stars {
    width: 4%;
  }

}
@media screen and (min-width: 1750px) {
  .logo {
    width: 14vw;
  }
}
@media screen and (min-width: 1920px) {
  .logo {
    width: 12vw;
  }
}
